@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

h1 {
    margin: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.header {
    padding-top: 1.5rem;
}

.header__wrapper {
    border-bottom: 0.15rem solid #000;
}

.accordion {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}

.accordion__item {
    width: 100%;
}

.accordion__item input {
    display: none;
}

.item__label {
    /*display: flex;*/
    background: dimgrey;
    cursor: pointer;
}

.item__content {
    max-height: 0;
    padding: 0 1em;
    color: red;
    background: white;
    transition: all .5s ease;
    overflow: hidden;
}

.accordion__item:hover .item__content {
    max-height: 100vh;
    padding: 1em;
}



input:checked + .item__label {

}

input:checked ~ .item__label > .item__content {
    max-height: 100vh;
    padding: 1em;
}